<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <sudoku-sidenav></sudoku-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="margin-bottom: 10px">
      <sudoku-toolbar></sudoku-toolbar>
    </mat-toolbar>
    <sudoku-grid (window:keydown)="keydown($event)"></sudoku-grid>
    <sudoku-digit class="center"></sudoku-digit>
    <div class="center" [innerHTML]="reason"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
